span.severe{
    padding: 4px;
    background-color: red;
   
}

span.moderate{
    padding: 4px;
    background-color: rgba(252, 252, 7, 0.959);
}

span.favorable{
    padding: 4px;
    background-color: green;
   
}